global
maxconn 2000
ulimit-n 16384
log 127.0.0.1 local0 err
stats timeout 30s
defaults
log global
mode http #Working in layer7, the most valuable part of Haproxy
option httplog
timeout connect 5000
timeout client 50000
timeout server 50000
timeout http-request 15s
timeout http-keep-alive 15s
frontend monitor-in
bind *:33305
mode http
option httplog
monitor-uri /monitor
frontend k8s-master
bind 0.0.0.0:16443
bind 127.0.0.1:16443
mode tcp #Works in layer 4, also default configuration, four layers of load
option tcplog
tcp-request inspect-delay 5s
default_backend qyk8s-master #Locate to the backend qyk8s-master
backend qyk8s-master
mode tcp #layer4must correspond to the front-end k8s-master
option tcplog
option tcp-check
balance roundrobin #load algorithm
default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
server host-master01 10.0.200.208:6443 check
server host-master02 10.0.200.209:6443 check
server host-master03 10.0.200.210:6443 check